<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.brianvanburken.avisi</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>196C25EE-654E-434D-BA54-BE86036427FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B99C6C55-FA87-4D3A-B469-0EE69C1304CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>203FDEE3-A3EA-45C7-B4CE-D5A4240EC608</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0257ADE-2210-4412-B221-82AA0C6F3904</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2600E67D-05C1-4B7B-BADD-6B89744CA63F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFDBE7D5-5858-47AF-AFBD-86A294B314E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>277BC5C0-E8FD-4F4E-8CC3-C3F0615AD9A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6EAECA9-D762-424B-BFD8-2620A5B8916B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43707E20-DAB5-4ADE-A4B1-0F4B693D019A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CE96ADE-207D-48AD-8F1D-94C948ECAE1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0257ADE-2210-4412-B221-82AA0C6F3904</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67626875-5DD5-4B71-AB9C-95CDA40032E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69A4CA0D-910D-415D-92AC-8EE430FF8115</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFDBE7D5-5858-47AF-AFBD-86A294B314E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>764FA993-AE28-4AE9-9DB7-6EFD5738D6B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85364D1D-C05E-4B0A-86AE-59866143CCF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>802EC117-2A80-48A9-A314-60FB28EBC9CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6EAECA9-D762-424B-BFD8-2620A5B8916B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>827BA79D-1856-46D8-B00F-C091F18F2811</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3CC4F58-B476-4360-A734-91CA4FE89128</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A32D488E-A039-43B7-8209-B55E27D7616A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FA194B5-F744-4947-AA11-85199BFDDB4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9CF1795-C4A0-458B-A7B0-4795F31C585F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>529F42BF-E934-4E7F-97E4-91D4713F9C89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADB48BD1-3B2F-4BCC-A304-09AF99E0DE0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE660153-62A3-4B25-8A39-76FEFA258A7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B257A7CA-0724-4B2E-9CF5-8E7381E14E1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2826475F-979F-4397-8A3B-23628779D1BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4E075D9-32FC-4CEF-AFEA-7D939B4047B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FA194B5-F744-4947-AA11-85199BFDDB4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFBF0155-2C8F-4FFD-BB36-5A24FCB50DB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85364D1D-C05E-4B0A-86AE-59866143CCF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0F33FB7-A17D-43FD-8224-B16702688CE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian van Burken</string>
	<key>description</key>
	<string>Shortcuts to tools for Avisi</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts Avisi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>techradar</string>
				<key>subtext</key>
				<string>Open Technology Radar</string>
				<key>text</key>
				<string>Technology Radar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A32D488E-A039-43B7-8209-B55E27D7616A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://techradar.avisi.nl/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6FA194B5-F744-4947-AA11-85199BFDDB4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://insight.avisi.nl/bitbucket/dashboard</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bitbucket</string>
				<key>subtext</key>
				<string>Open Avisi Bitbucket</string>
				<key>text</key>
				<string>Bitbucket</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>log</string>
				<key>subtext</key>
				<string>Log worked hours in Tempo</string>
				<key>text</key>
				<string>Tempo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F0F33FB7-A17D-43FD-8224-B16702688CE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://insight.avisi.nl/jira/secure/Tempo.jspa#/my-work/timesheet?groupBy=project&amp;groupBy=issue&amp;periodType=CURRENT_PERIOD&amp;subPeriodType=WEEK</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://insight.avisi.nl/confluence/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>85364D1D-C05E-4B0A-86AE-59866143CCF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>work</string>
				<key>subtext</key>
				<string>Log worked hours in Tempo</string>
				<key>text</key>
				<string>Tempo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67626875-5DD5-4B71-AB9C-95CDA40032E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trp</string>
				<key>subtext</key>
				<string>Open Technology Radar</string>
				<key>text</key>
				<string>Technology Radar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4E075D9-32FC-4CEF-AFEA-7D939B4047B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>confluence</string>
				<key>subtext</key>
				<string>Open Avisi Confluence</string>
				<key>text</key>
				<string>Confluence</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BFBF0155-2C8F-4FFD-BB36-5A24FCB50DB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cof</string>
				<key>subtext</key>
				<string>Open Avisi Confluence</string>
				<key>text</key>
				<string>Confluence</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>764FA993-AE28-4AE9-9DB7-6EFD5738D6B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tempo</string>
				<key>subtext</key>
				<string>Log worked hours in Tempo</string>
				<key>text</key>
				<string>Tempo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43707E20-DAB5-4ADE-A4B1-0F4B693D019A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>techdev</string>
				<key>subtext</key>
				<string>Open Technology Radar in Development env</string>
				<key>text</key>
				<string>Technology Radar (Development)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>277BC5C0-E8FD-4F4E-8CC3-C3F0615AD9A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://technology-radar-development.firebaseapp.com/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E6EAECA9-D762-424B-BFD8-2620A5B8916B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string>Open Avisi Jira</string>
				<key>text</key>
				<string>Jira</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A9CF1795-C4A0-458B-A7B0-4795F31C585F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://insight.avisi.nl/jira/secure/Dashboard.jspa</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>529F42BF-E934-4E7F-97E4-91D4713F9C89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Developer/Avisi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DE660153-62A3-4B25-8A39-76FEFA258A7E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trd</string>
				<key>subtext</key>
				<string>Open Technology Radar in Development env</string>
				<key>text</key>
				<string>Technology Radar (Development)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>802EC117-2A80-48A9-A314-60FB28EBC9CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>avisi</string>
				<key>subtext</key>
				<string>Open Avisi folder</string>
				<key>text</key>
				<string>Avisi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADB48BD1-3B2F-4BCC-A304-09AF99E0DE0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://insight.avisi.nl/bamboo/allPlans.action</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B99C6C55-FA87-4D3A-B469-0EE69C1304CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bamboo</string>
				<key>subtext</key>
				<string>Open Avisi Bamboo</string>
				<key>text</key>
				<string>Bamboo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>196C25EE-654E-434D-BA54-BE86036427FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>moreapp</string>
				<key>subtext</key>
				<string>Open MoreApp webclient</string>
				<key>text</key>
				<string>MoreApp webclient</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>827BA79D-1856-46D8-B00F-C091F18F2811</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://my.15five.com/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0257ADE-2210-4412-B221-82AA0C6F3904</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://webclient.moreapp.com/#/login</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E3CC4F58-B476-4360-A734-91CA4FE89128</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>15five</string>
				<key>subtext</key>
				<string>Open 15Five</string>
				<key>text</key>
				<string>15Five</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5CE96ADE-207D-48AD-8F1D-94C948ECAE1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hf</string>
				<key>subtext</key>
				<string>Open 15Five</string>
				<key>text</key>
				<string>15Five</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>203FDEE3-A3EA-45C7-B4CE-D5A4240EC608</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>helpdesk</string>
				<key>subtext</key>
				<string>Open Service Desk</string>
				<key>text</key>
				<string>Service Desk</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B257A7CA-0724-4B2E-9CF5-8E7381E14E1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://insight.avisi.nl/jira/servicedesk/customer/portals</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2826475F-979F-4397-8A3B-23628779D1BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>google cloud console</string>
				<key>subtext</key>
				<string>Open Google Cloud Console</string>
				<key>text</key>
				<string>Google Cloud Console</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2600E67D-05C1-4B7B-BADD-6B89744CA63F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://console.cloud.google.com</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BFDBE7D5-5858-47AF-AFBD-86A294B314E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gcc</string>
				<key>subtext</key>
				<string>Open Google Cloud Console</string>
				<key>text</key>
				<string>Google Cloud Console</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69A4CA0D-910D-415D-92AC-8EE430FF8115</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>196C25EE-654E-434D-BA54-BE86036427FA</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>203FDEE3-A3EA-45C7-B4CE-D5A4240EC608</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>2600E67D-05C1-4B7B-BADD-6B89744CA63F</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>277BC5C0-E8FD-4F4E-8CC3-C3F0615AD9A7</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>2826475F-979F-4397-8A3B-23628779D1BD</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>43707E20-DAB5-4ADE-A4B1-0F4B693D019A</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>529F42BF-E934-4E7F-97E4-91D4713F9C89</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>5CE96ADE-207D-48AD-8F1D-94C948ECAE1B</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>67626875-5DD5-4B71-AB9C-95CDA40032E5</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>69A4CA0D-910D-415D-92AC-8EE430FF8115</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>895</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>6FA194B5-F744-4947-AA11-85199BFDDB4A</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>764FA993-AE28-4AE9-9DB7-6EFD5738D6B1</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>802EC117-2A80-48A9-A314-60FB28EBC9CA</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>827BA79D-1856-46D8-B00F-C091F18F2811</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>85364D1D-C05E-4B0A-86AE-59866143CCF9</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A32D488E-A039-43B7-8209-B55E27D7616A</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>A9CF1795-C4A0-458B-A7B0-4795F31C585F</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>ADB48BD1-3B2F-4BCC-A304-09AF99E0DE0B</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>B257A7CA-0724-4B2E-9CF5-8E7381E14E1B</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>B4E075D9-32FC-4CEF-AFEA-7D939B4047B8</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>B99C6C55-FA87-4D3A-B469-0EE69C1304CD</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>BFBF0155-2C8F-4FFD-BB36-5A24FCB50DB2</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>BFDBE7D5-5858-47AF-AFBD-86A294B314E5</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>DE660153-62A3-4B25-8A39-76FEFA258A7E</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>E3CC4F58-B476-4360-A734-91CA4FE89128</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>E6EAECA9-D762-424B-BFD8-2620A5B8916B</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>F0257ADE-2210-4412-B221-82AA0C6F3904</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>F0F33FB7-A17D-43FD-8224-B16702688CE6</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
