[user]
	name = Brian van Burken
	email = brianvanburken@outlook.com
	signingkey = EFAC8838
[credential]
	helper = osxkeychain
[color]
	ui = true
[push]
	default = current
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[help]
	autocorrect = 1
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	attributesfile = ~/.gitattributes-global
[diff]
	compactionHeuristic = true
[alias]
	all = "!f() { ls | xargs -P10 -I{} git -C {} $1; }; f"
	lastchange = log -p --follow -n 1
[commit]
	gpgsign = true
[gpg]
	program = gpg2
