[credential]
  helper = osxkeychain

[color]
  ui = true

[push]
  default = current

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global

[alias]
  lastchange = log -p -n 1
  trim = !git remote prune origin && git gc
