*.local

# Homebrew
Brewfile.lock.json

# Claude
config/claude/*
!config/claude/settings.json
!config/claude/CLAUDE.md
!config/claude/statusline-command.sh
!config/claude/skills/

# Fish compiled files
config.local.fish
config/fish/completions/
config/fish/fish_variables
