<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.brianvanburken.jetbrains</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>48C36CC4-345B-4B0F-9865-F510F141341E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84D8AF51-125A-499E-A24D-C30CE8A9D634</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E1C8EAB-6D32-4FE5-BF9F-20C8D0AE13C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69BCF123-A761-46CC-BDF2-3EACA69D5C41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian van Burken</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jetbrains</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>idea webportaal</string>
				<key>subtext</key>
				<string>Open webportaal in Intellij IDEA</string>
				<key>text</key>
				<string>Open webportaal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5E1C8EAB-6D32-4FE5-BF9F-20C8D0AE13C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/idea ~/Developer/avisi/knb/webportaal/</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69BCF123-A761-46CC-BDF2-3EACA69D5C41</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/idea ~/Developer/avisi/knb/webportaal/</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84D8AF51-125A-499E-A24D-C30CE8A9D634</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>idea uitoolkit</string>
				<key>subtext</key>
				<string>Open UI-toolkit in Intellij IDEA</string>
				<key>text</key>
				<string>Open UI-toolkit</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48C36CC4-345B-4B0F-9865-F510F141341E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>48C36CC4-345B-4B0F-9865-F510F141341E</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>5E1C8EAB-6D32-4FE5-BF9F-20C8D0AE13C1</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>69BCF123-A761-46CC-BDF2-3EACA69D5C41</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>84D8AF51-125A-499E-A24D-C30CE8A9D634</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
