<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.brianvanburken.lidwoord</string>
	<key>connections</key>
	<dict>
		<key>1F80A11D-3CC5-4C78-B56D-EA2990FBB52E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDC985CA-6CBA-4966-8D9D-0420F7227E6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22C3366D-DB34-4083-AB2B-F942A567D63B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36DE8C49-6D67-46B3-9E3B-CA2ABA09ECB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B2D429A-DD07-4CC5-826B-AAD82104B44D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDC985CA-6CBA-4966-8D9D-0420F7227E6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82283E11-66ED-46C0-B7CB-589F2491D24D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDBF7853-F345-4750-8871-3FBD3B146A42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82EC755F-F9BD-441A-B4C0-9C03421B06C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36DE8C49-6D67-46B3-9E3B-CA2ABA09ECB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F437F0A2-600B-42DD-A197-3D16C9D54AA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDBF7853-F345-4750-8871-3FBD3B146A42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian van Burken</string>
	<key>description</key>
	<string>Zoek voor welk lidwoord</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lidwoord</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.welklidwoord.nl/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FDC985CA-6CBA-4966-8D9D-0420F7227E6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>de</string>
				<key>subtext</key>
				<string>Zoek het lidwoord op voor "{query}"</string>
				<key>text</key>
				<string>De of Het?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F80A11D-3CC5-4C78-B56D-EA2990FBB52E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>het</string>
				<key>subtext</key>
				<string>Zoek het lidwoord op voor "{query}"</string>
				<key>text</key>
				<string>De of Het?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B2D429A-DD07-4CC5-826B-AAD82104B44D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>deze</string>
				<key>subtext</key>
				<string>Zoek het lidwoord op voor "{query}"</string>
				<key>text</key>
				<string>Deze of dit?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>82EC755F-F9BD-441A-B4C0-9C03421B06C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.welklidwoord.nl/deze-of-dit/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>36DE8C49-6D67-46B3-9E3B-CA2ABA09ECB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dit</string>
				<key>subtext</key>
				<string>Zoek het lidwoord op voor "{query}"</string>
				<key>text</key>
				<string>Deze of dit?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22C3366D-DB34-4083-AB2B-F942A567D63B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.welklidwoord.nl/die-of-dat/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FDBF7853-F345-4750-8871-3FBD3B146A42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>die</string>
				<key>subtext</key>
				<string>Zoek het lidwoord op voor "{query}"</string>
				<key>text</key>
				<string>Die of Dat?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>82283E11-66ED-46C0-B7CB-589F2491D24D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dat</string>
				<key>subtext</key>
				<string>Zoek het lidwoord op voor "{query}"</string>
				<key>text</key>
				<string>Die of Dat?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F437F0A2-600B-42DD-A197-3D16C9D54AA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F80A11D-3CC5-4C78-B56D-EA2990FBB52E</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>22C3366D-DB34-4083-AB2B-F942A567D63B</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>2B2D429A-DD07-4CC5-826B-AAD82104B44D</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>36DE8C49-6D67-46B3-9E3B-CA2ABA09ECB6</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>82283E11-66ED-46C0-B7CB-589F2491D24D</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>82EC755F-F9BD-441A-B4C0-9C03421B06C6</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>F437F0A2-600B-42DD-A197-3D16C9D54AA6</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>FDBF7853-F345-4750-8871-3FBD3B146A42</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>FDC985CA-6CBA-4966-8D9D-0420F7227E6B</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
