<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.brianvanburken.grayscale</string>
	<key>connections</key>
	<dict>
		<key>1C4C1661-13FD-479A-A532-EF8A2A5A3027</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4F1814F-8A05-4A8B-91E9-11081A7DF8CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F6BA948-2AFE-4A15-8253-84284E8784BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4F1814F-8A05-4A8B-91E9-11081A7DF8CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian van Burken</string>
	<key>description</key>
	<string>Toggles grayscale</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Grayscale</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./toggle-grayscale</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4F1814F-8A05-4A8B-91E9-11081A7DF8CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>grayscale</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle grayscale</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F6BA948-2AFE-4A15-8253-84284E8784BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>greyscale</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle greyscale</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1C4C1661-13FD-479A-A532-EF8A2A5A3027</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C4C1661-13FD-479A-A532-EF8A2A5A3027</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>9F6BA948-2AFE-4A15-8253-84284E8784BB</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>C4F1814F-8A05-4A8B-91E9-11081A7DF8CA</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
