<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulrudy.ToggleDoNotDisturb</string>
	<key>connections</key>
	<dict>
		<key>0FF02387-6375-4B82-8DE2-5E624F259777</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11E1D42B-D188-4145-94A6-21BA02BF3C4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64F4083D-F064-4303-8AD2-463FEF1A5FBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F680F21D-3803-4620-98F0-FD70CD2743A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E796687C-6657-4A05-A80E-1CD33D52CECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E796687C-6657-4A05-A80E-1CD33D52CECB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE8B9FCB-DD62-498F-AFCB-2FB9F3E4EBA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F680F21D-3803-4620-98F0-FD70CD2743A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FF02387-6375-4B82-8DE2-5E624F259777</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Wirth</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Do Not Disturb</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Do Not Disturb has been turned off.</string>
				<key>title</key>
				<string>Go ahead and disturb me.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>11E1D42B-D188-4145-94A6-21BA02BF3C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>on run

tell application "System Events"	option key down	delay 0.1	tell application process "SystemUIServer"		try			tell (every menu bar whose title of menu bar item 1 contains "Notification")				click (1st menu bar item whose title contains "Notification")			end tell		end try	end tell	option key upend tell

end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0FF02387-6375-4B82-8DE2-5E624F259777</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>off</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F680F21D-3803-4620-98F0-FD70CD2743A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dnd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>To disturb or not to disturb?</string>
				<key>script</key>
				<string>set checkDnd to do shell script "defaults -currentHost read com.apple.notificationcenterui | grep 'doNotDisturb = '"if checkDnd = "    doNotDisturb = 1;" then	set dnd to "on"
	set turn to "off"	set mode to "DO Disturb"else	set dnd to "off"
	set turn to "on"	set mode to "Do NOT Disturb"end ifset itemString to "&lt;item uid=\"" &amp; mode &amp; "\" arg=\"" &amp; turn &amp; "\"&gt;&lt;title&gt;" &amp; mode &amp; "&lt;/title&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;subtitle&gt;Do Not Disturb is currently " &amp; dnd &amp; ". Turn it " &amp; turn &amp; ".&lt;/subtitle&gt;&lt;/item&gt;"set output to "&lt;?xml version=\"1.0\"?&gt;&lt;items&gt;" &amp; itemString &amp; "&lt;/items&gt;"
do shell script "echo '" &amp; output &amp; "'"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>To disturb or not to disturb?</string>
				<key>title</key>
				<string>Toggle Do Not Disturb</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64F4083D-F064-4303-8AD2-463FEF1A5FBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Do Not Disturb will now be turned on.</string>
				<key>title</key>
				<string>Do Not Disturb me.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E796687C-6657-4A05-A80E-1CD33D52CECB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>on run

delay 3

tell application "System Events"	option key down	delay 0.1	tell application process "SystemUIServer"		try			tell (every menu bar whose title of menu bar item 1 contains "Notification")				click (1st menu bar item whose title contains "Notification")			end tell		end try	end tell	option key upend tell
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE8B9FCB-DD62-498F-AFCB-2FB9F3E4EBA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>on</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Inspired by: http://www.alfredforum.com/topic/4133-toggle-do-not-disturb/
Script from: https://gist.github.com/Zettt/fd9979100d4603e548d6</string>
	<key>uidata</key>
	<dict>
		<key>0FF02387-6375-4B82-8DE2-5E624F259777</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>11E1D42B-D188-4145-94A6-21BA02BF3C4C</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>64F4083D-F064-4303-8AD2-463FEF1A5FBB</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A90DB3DE-6C16-45B1-8EA0-11F4B8C94FFA</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>BE8B9FCB-DD62-498F-AFCB-2FB9F3E4EBA7</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>E796687C-6657-4A05-A80E-1CD33D52CECB</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>F680F21D-3803-4620-98F0-FD70CD2743A1</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
