<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>265C2A8E-8DD8-4D16-9396-85558683808D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B60FC0B9-5825-4356-A467-643FB7A9A1B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DA1AAE1-CEFA-4029-AC28-17D8F4E62D94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B4911AE-A181-4306-B09B-6A78BEBA690C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43707E20-DAB5-4ADE-A4B1-0F4B693D019A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>530503CA-BD34-42BE-BA7E-D1A06AE1C226</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EB52D41-6DD6-4E2E-A4A7-08C29241A70A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67626875-5DD5-4B71-AB9C-95CDA40032E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71A5CEC2-DE46-415E-9B47-57BD309937E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65C01162-A5BB-4724-B875-2FAAC441AE28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C704141-D238-4EAD-B9EA-887680938660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1377CB43-2E29-47E5-9A4E-C37FEAB9A49E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A783EA8A-5951-4803-A941-34DB0E9236AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93C8D5AE-75BA-4918-805C-A9E16778A67F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD626F82-DCB9-4D72-8E31-93716FA1D74B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93C8D5AE-75BA-4918-805C-A9E16778A67F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADB48BD1-3B2F-4BCC-A304-09AF99E0DE0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE660153-62A3-4B25-8A39-76FEFA258A7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD4359D6-16DE-49E4-AE1B-E651ED30ADCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EBC72C7-7ACC-400B-B16C-20020804C9D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C46085B5-70B3-4F77-A6C2-8E0C2665F535</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F84B52B-8C27-4F9D-86BB-02819A3C250F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0F33FB7-A17D-43FD-8224-B16702688CE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5DBEEAC-0CE0-49AA-9C5B-DB9C7C38BB23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF6C7510-DB9E-4588-9E5E-B2A94FC6AF44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian van Burken</string>
	<key>description</key>
	<string>Shortcuts to tools for KNB</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts KNB</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>confluenceknb</string>
				<key>subtext</key>
				<string>Open KNB Confluence</string>
				<key>text</key>
				<string>Confluence (KNB)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A783EA8A-5951-4803-A941-34DB0E9236AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.knb.nl/secure/Tempo.jspa#/my-work</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://confluence.knb.nl/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>93C8D5AE-75BA-4918-805C-A9E16778A67F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>logknb</string>
				<key>subtext</key>
				<string>Log worked hours in Tempo</string>
				<key>text</key>
				<string>Tempo (KNB)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F0F33FB7-A17D-43FD-8224-B16702688CE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cofknb</string>
				<key>subtext</key>
				<string>Open KNB Confluence</string>
				<key>text</key>
				<string>Confluence (KNB)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AD626F82-DCB9-4D72-8E31-93716FA1D74B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>workknb</string>
				<key>subtext</key>
				<string>Log worked hours in Tempo</string>
				<key>text</key>
				<string>Tempo (KNB)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67626875-5DD5-4B71-AB9C-95CDA40032E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jiraknb</string>
				<key>subtext</key>
				<string>Open KNB Jira</string>
				<key>text</key>
				<string>Jira (KNB)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2DA1AAE1-CEFA-4029-AC28-17D8F4E62D94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.knb.nl/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B4911AE-A181-4306-B09B-6A78BEBA690C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tempoknb</string>
				<key>subtext</key>
				<string>Log worked hours in Tempo</string>
				<key>text</key>
				<string>Tempo (KNB)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43707E20-DAB5-4ADE-A4B1-0F4B693D019A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gl</string>
				<key>subtext</key>
				<string>Open KNB Gitlab</string>
				<key>text</key>
				<string>KNB Gitlab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C704141-D238-4EAD-B9EA-887680938660</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.knb.nl</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1377CB43-2E29-47E5-9A4E-C37FEAB9A49E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jira.knb.nl/browse/CDRGO-{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FF6C7510-DB9E-4588-9E5E-B2A94FC6AF44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cdrgo-</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to ticket CDRGO-{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F5DBEEAC-0CE0-49AA-9C5B-DB9C7C38BB23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uitoolkit</string>
				<key>subtext</key>
				<string>Open ui-toolkit folder</string>
				<key>text</key>
				<string>ui-toolkit</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>71A5CEC2-DE46-415E-9B47-57BD309937E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Developer/Avisi/KNB/ui-toolkit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>65C01162-A5BB-4724-B875-2FAAC441AE28</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uitoolkit</string>
				<key>subtext</key>
				<string>Visit ui-toolkit repository on Gitlab</string>
				<key>text</key>
				<string>ui-toolkit</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD4359D6-16DE-49E4-AE1B-E651ED30ADCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.knb.nl/knb/tooling/ui-toolkit</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5EBC72C7-7ACC-400B-B16C-20020804C9D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Developer/Avisi/KNB/webportaal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>DE660153-62A3-4B25-8A39-76FEFA258A7E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>webportaal</string>
				<key>subtext</key>
				<string>Visit webportaal repository on Gitlab</string>
				<key>text</key>
				<string>Webportaal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C46085B5-70B3-4F77-A6C2-8E0C2665F535</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.knb.nl/knb/webportaal</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8F84B52B-8C27-4F9D-86BB-02819A3C250F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>webportaal</string>
				<key>subtext</key>
				<string>Open webportaal folder</string>
				<key>text</key>
				<string>webportaal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADB48BD1-3B2F-4BCC-A304-09AF99E0DE0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kladrepertorium</string>
				<key>subtext</key>
				<string>Visit klad repertorium repository on Gitlab</string>
				<key>text</key>
				<string>Klad Repertorium</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>530503CA-BD34-42BE-BA7E-D1A06AE1C226</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.knb.nl/knb/cdr/klad-repertorium</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9EB52D41-6DD6-4E2E-A4A7-08C29241A70A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Developer/Avisi/KNB/klad-repertorium</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B60FC0B9-5825-4356-A467-643FB7A9A1B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kladrepertorium</string>
				<key>subtext</key>
				<string>Open kladrepertorium folder</string>
				<key>text</key>
				<string>kladrepertorium</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>265C2A8E-8DD8-4D16-9396-85558683808D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C40BAD7-1666-4ADC-B7A5-1ED4982FEC3B</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>1377CB43-2E29-47E5-9A4E-C37FEAB9A49E</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>265C2A8E-8DD8-4D16-9396-85558683808D</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>2DA1AAE1-CEFA-4029-AC28-17D8F4E62D94</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>43707E20-DAB5-4ADE-A4B1-0F4B693D019A</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>530503CA-BD34-42BE-BA7E-D1A06AE1C226</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>5EBC72C7-7ACC-400B-B16C-20020804C9D4</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>65C01162-A5BB-4724-B875-2FAAC441AE28</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>67626875-5DD5-4B71-AB9C-95CDA40032E5</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6B4911AE-A181-4306-B09B-6A78BEBA690C</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>71A5CEC2-DE46-415E-9B47-57BD309937E6</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>8C704141-D238-4EAD-B9EA-887680938660</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>8F84B52B-8C27-4F9D-86BB-02819A3C250F</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>93C8D5AE-75BA-4918-805C-A9E16778A67F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>9EB52D41-6DD6-4E2E-A4A7-08C29241A70A</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>A783EA8A-5951-4803-A941-34DB0E9236AD</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>AD626F82-DCB9-4D72-8E31-93716FA1D74B</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>ADB48BD1-3B2F-4BCC-A304-09AF99E0DE0B</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>B60FC0B9-5825-4356-A467-643FB7A9A1B2</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>BD4359D6-16DE-49E4-AE1B-E651ED30ADCA</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>C46085B5-70B3-4F77-A6C2-8E0C2665F535</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>DE660153-62A3-4B25-8A39-76FEFA258A7E</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>F0F33FB7-A17D-43FD-8224-B16702688CE6</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>F5DBEEAC-0CE0-49AA-9C5B-DB9C7C38BB23</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>FF6C7510-DB9E-4588-9E5E-B2A94FC6AF44</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
