<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themes</key>
	<dict>
		<key>alfred.theme.custom.758E149D-9E4E-493D-8FBF-71C1D579228A</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBg0jhej+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Brian van Burken</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>OS X El Capitan</string>
			<key>resultPaddingSize</key>
			<integer>2</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg4/CdT2G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/Yo3D6D9ijcPoP2KNw+AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5qZGT+DmpkZP4OamRk/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>System Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgz0KVz6DPQpXPoM9Clc+AYY=
			</data>
			<key>resultTextFont</key>
			<string>System Light</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAg83MzD2G
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>searchFont</key>
			<string>System Light</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJm
			ZoOrqio/AYaG
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgzMzMz+DMzMzP4MzMzM/AYY=
			</data>
			<key>shortcutFont</key>
			<string>System Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg2ZmJj+DZmYmP4NmZiY/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.758E149D-9E4E-493D-8FBF-71C1D579228A</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.7CCB5E52-57D5-40F8-BCE7-2FAEC2542F84</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7u6uj6D4eDgPIOBgAA8g0jhej+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4eGhj6DgYCAPIOBgAA8g3sULj+G
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Vero Pepperrell</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Christmas by the fire</string>
			<key>resultPaddingSize</key>
			<integer>2</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4eGhj6DwcBAPIOBgAA8g0jhej+G
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7u6Oj+Durk5P4O8uzs/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/j3dz+D+Pd3P4P493c/AYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5aVFT+Dk5ISP4OSkRE/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7W0ND+DtbQ0P4O2tTU/AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5CPDz+DtbS0PgABhg==
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg4WEhD6DwcBAPIOBgAA8g0jhej+G
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue Light</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg/r5eT+D+vl5P4P6+Xk/AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg7OyMj+D2NdXPwEBhg==
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAYY=
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg42MjD6DgYCAPIOBgAA8g0jhej+G
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg8/OTj+DhYQEPwABhg==
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg9LRUT+Dt7Y2P4OBgIA8AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.7CCB5E52-57D5-40F8-BCE7-2FAEC2542F84</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.A70B1DBA-E32F-4889-A1F6-33E6926E2DD6</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAgzMzcz+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>Brian van Burken</string>
			<key>imageStyle</key>
			<integer>8</integer>
			<key>name</key>
			<string>OS X El Capitan Dark</string>
			<key>resultPaddingSize</key>
			<integer>2</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5qZGT6DmpkZPoOamRk+AYY=
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg0jhOj+DSOE6P4NI4To/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgwAAAD+DAAAAP4MAAAA/AYY=
			</data>
			<key>resultSubtextFont</key>
			<string>System Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAQEBAYY=
			</data>
			<key>resultTextFont</key>
			<string>System Light</string>
			<key>resultTextFontSize</key>
			<integer>2</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5qZGT6DmpkZPoOamRk+AYY=
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>searchFont</key>
			<string>System Light</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgEBhg==
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>searchSelectionBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2G
			hJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJm
			ZoOrqio/AYaG
			</data>
			<key>searchSelectionForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgABhg==
			</data>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmAAAAAIY=
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg5qZmT6DmpmZPoOamZk+AYY=
			</data>
			<key>shortcutFont</key>
			<string>System Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmgwAAAD+DAAAAP4MAAAA/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.A70B1DBA-E32F-4889-A1F6-33E6926E2DD6</string>
			<key>widthSize</key>
			<integer>2</integer>
		</dict>
		<key>alfred.theme.custom.B6DBB938-5047-4899-B3B4-9380DE39A742</key>
		<dict>
			<key>background</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBg83MTD+G
			</data>
			<key>border</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMChARmZmZmg83MzD2DzczMPYPNzMw9AIY=
			</data>
			<key>cornerRoundness</key>
			<integer>3</integer>
			<key>credits</key>
			<string>James Bryant</string>
			<key>imageStyle</key>
			<integer>3</integer>
			<key>name</key>
			<string>Water</string>
			<key>resultPaddingSize</key>
			<integer>4</integer>
			<key>resultSelectedBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMDC+s+AQGG
			</data>
			<key>resultSelectedSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+fmZj+D5+ZmP4Pn5mY/AYY=
			</data>
			<key>resultSelectedTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAQEBAYY=
			</data>
			<key>resultSubtextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZoMAAIA+gwAAAD+G
			</data>
			<key>resultSubtextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultSubtextFontSize</key>
			<integer>1</integer>
			<key>resultTextColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZoMAAIA+AYY=
			</data>
			<key>resultTextFont</key>
			<string>Helvetica Neue Light</string>
			<key>resultTextFontSize</key>
			<integer>4</integer>
			<key>scrollbarColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAIMDC+s+AQGG
			</data>
			<key>searchBackgroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmAYNfdHw/g2Awez8Ahg==
			</data>
			<key>searchFont</key>
			<string>Helvetica Neue Light</string>
			<key>searchFontSize</key>
			<integer>3</integer>
			<key>searchForegroundColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZoMIIc49AYY=
			</data>
			<key>searchPaddingSize</key>
			<integer>0</integer>
			<key>separatorColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMDhAJmZgEAhg==
			</data>
			<key>shortcutColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg2dQEzqDZDcFPwEBhg==
			</data>
			<key>shortcutFont</key>
			<string>Helvetica Neue Light</string>
			<key>shortcutFontSize</key>
			<integer>2</integer>
			<key>shortcutSelectedColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+fmZj+D5+ZmP4Pn5mY/AYY=
			</data>
			<key>uid</key>
			<string>alfred.theme.custom.B6DBB938-5047-4899-B3B4-9380DE39A742</string>
			<key>widthSize</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
