<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.brianvanburken.internet</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>00E93014-A649-49C1-A67B-092941A37541</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7D7C5DE-B5D9-4CB5-843B-217835913CB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09AAEB62-E0B3-479C-A4A9-594926CBBD4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0202B2A-6E02-4CC2-A4AC-0B856FE887F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0CB8B8DE-2711-4690-83F9-05146C725C40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>678F04F7-4977-4646-A8AC-E6456B08AA95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B8D529D-3545-408B-93A3-6B6DC9381F40</key>
		<array/>
		<key>3C206292-11BE-49C9-B4CE-68D05532FAC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44558CA6-2E14-4BE7-835D-48F8BBC0EB85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E64FAA-0AD1-4FAA-8435-C08D2B103D38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53D6CDEA-D8BE-4D93-91E9-598ECC070C6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B8D529D-3545-408B-93A3-6B6DC9381F40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>619840BA-43A1-4E4B-9284-A32E0018B90F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30CEA168-ACF6-4B08-8F33-2EDB433009E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63DA3F0E-55D0-4149-A6D3-358AEE3AD225</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8431804-5D47-42BA-9DCB-895200667C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70E219E0-29E8-4F40-AAAD-B7A4011BFB28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>113AC82F-6E23-4A60-92F5-564AB8FB29F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89AC360E-4635-411A-A113-8853064FEAAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D77E40DD-246F-4286-ABEC-87FFF794407F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F6B03AD-B9E5-4536-A587-75483475A89F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BC725B6-5100-436A-8981-897958A8BEEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9E0466A-5BB6-4FCD-81C2-BDDD517670D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CDB7303-F86B-4982-8DE6-5886FB5D122D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC274B99-5399-4644-9404-F2FA31640F8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C34E0E7-D547-4F1E-BEF4-99581A88F292</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0CE52A3-C90C-4685-86F6-3E015F4AFCE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D77E40DD-246F-4286-ABEC-87FFF794407F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian van Burken</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortcuts Personal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.getpocket.com/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pocket</string>
				<key>subtext</key>
				<string>Open Pocket in a browser</string>
				<key>text</key>
				<string>Pocket</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Firefox.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>1CDB7303-F86B-4982-8DE6-5886FB5D122D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ff</string>
				<key>subtext</key>
				<string>Open Firefox</string>
				<key>text</key>
				<string>Firefox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A9E0466A-5BB6-4FCD-81C2-BDDD517670D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3C206292-11BE-49C9-B4CE-68D05532FAC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>44558CA6-2E14-4BE7-835D-48F8BBC0EB85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>06E64FAA-0AD1-4FAA-8435-C08D2B103D38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/u/0/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>30CEA168-ACF6-4B08-8F33-2EDB433009E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calendar</string>
				<key>subtext</key>
				<string>Open Google Calendar in a browser</string>
				<key>text</key>
				<string>Google Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89AC360E-4635-411A-A113-8853064FEAAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sheets</string>
				<key>subtext</key>
				<string>Open Google Sheets in a browser</string>
				<key>text</key>
				<string>Google Sheets</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>619840BA-43A1-4E4B-9284-A32E0018B90F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://calendar.google.com/calendar/r?tab=mc</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D77E40DD-246F-4286-ABEC-87FFF794407F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gcal</string>
				<key>subtext</key>
				<string>Open Google Calendar in a browser</string>
				<key>text</key>
				<string>Google Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F0CE52A3-C90C-4685-86F6-3E015F4AFCE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>subtext</key>
				<string>Open Google Docs in a browser</string>
				<key>text</key>
				<string>Google Docs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC274B99-5399-4644-9404-F2FA31640F8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/document/u/0/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9C34E0E7-D547-4F1E-BEF4-99581A88F292</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>slides</string>
				<key>subtext</key>
				<string>Open Google Slides in a browser</string>
				<key>text</key>
				<string>Google Slides</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63DA3F0E-55D0-4149-A6D3-358AEE3AD225</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/presentation/u/0/</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F8431804-5D47-42BA-9DCB-895200667C8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>notes</string>
				<key>subtext</key>
				<string>/Applications/Evernote.app</string>
				<key>text</key>
				<string>Evernote.app</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CB8B8DE-2711-4690-83F9-05146C725C40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Evernote.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>678F04F7-4977-4646-A8AC-E6456B08AA95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/mail/u/0/#inbox</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1B8D529D-3545-408B-93A3-6B6DC9381F40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gmail</string>
				<key>subtext</key>
				<string>Open Google Gmail in a browser</string>
				<key>text</key>
				<string>Google Gmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53D6CDEA-D8BE-4D93-91E9-598ECC070C6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Developer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5BC725B6-5100-436A-8981-897958A8BEEE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>documents</string>
				<key>subtext</key>
				<string>Open Documents folder</string>
				<key>text</key>
				<string>Documents</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09AAEB62-E0B3-479C-A4A9-594926CBBD4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Documents</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C0202B2A-6E02-4CC2-A4AC-0B856FE887F2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>developer</string>
				<key>subtext</key>
				<string>Open Developer folder</string>
				<key>text</key>
				<string>Developer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F6B03AD-B9E5-4536-A587-75483475A89F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Developer/Personal/dotfiles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F7D7C5DE-B5D9-4CB5-843B-217835913CB2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dotfiles</string>
				<key>subtext</key>
				<string>Open Dotfiles folder</string>
				<key>text</key>
				<string>Dotfiles</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00E93014-A649-49C1-A67B-092941A37541</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>113AC82F-6E23-4A60-92F5-564AB8FB29F4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>subtext</key>
				<string>Open Downloads folder</string>
				<key>text</key>
				<string>Downloads</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70E219E0-29E8-4F40-AAAD-B7A4011BFB28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00E93014-A649-49C1-A67B-092941A37541</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>06E64FAA-0AD1-4FAA-8435-C08D2B103D38</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>09AAEB62-E0B3-479C-A4A9-594926CBBD4F</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>0CB8B8DE-2711-4690-83F9-05146C725C40</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>113AC82F-6E23-4A60-92F5-564AB8FB29F4</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>1B8D529D-3545-408B-93A3-6B6DC9381F40</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>1CDB7303-F86B-4982-8DE6-5886FB5D122D</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>30CEA168-ACF6-4B08-8F33-2EDB433009E2</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>3C206292-11BE-49C9-B4CE-68D05532FAC2</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>44558CA6-2E14-4BE7-835D-48F8BBC0EB85</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>53D6CDEA-D8BE-4D93-91E9-598ECC070C6B</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>5BC725B6-5100-436A-8981-897958A8BEEE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>619840BA-43A1-4E4B-9284-A32E0018B90F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>63DA3F0E-55D0-4149-A6D3-358AEE3AD225</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>678F04F7-4977-4646-A8AC-E6456B08AA95</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>70E219E0-29E8-4F40-AAAD-B7A4011BFB28</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>1025</integer>
		</dict>
		<key>89AC360E-4635-411A-A113-8853064FEAAF</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>9C34E0E7-D547-4F1E-BEF4-99581A88F292</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>9F6B03AD-B9E5-4536-A587-75483475A89F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>A9E0466A-5BB6-4FCD-81C2-BDDD517670D9</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>C0202B2A-6E02-4CC2-A4AC-0B856FE887F2</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>D77E40DD-246F-4286-ABEC-87FFF794407F</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>EC274B99-5399-4644-9404-F2FA31640F8A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>F0CE52A3-C90C-4685-86F6-3E015F4AFCE0</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>F7D7C5DE-B5D9-4CB5-843B-217835913CB2</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>F8431804-5D47-42BA-9DCB-895200667C8D</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
